<p-button (click)="showModalCreateProduct()" icon="pi pi-external-link" label="Show"></p-button>
<p-dialog [header]="getHeaderTitle()"
          [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
  <form [formGroup]="formProduct" (ngSubmit)="mode === Mode.create ? createProduct() : updateProduct()">
    <div class="m-0">
      <!-- Code -->
      <span class="p-float-label">
      <input id="code" type="text" pInputText formControlName="code">
      <label for="code">Code</label>
        <ng-container *ngIf="errorMessages && errorMessages.trim() !== ''">
          <p class="text-danger">{{ errorMessages }}</p>
        </ng-container>
    </span>

      <!-- Name -->
      <span class="p-float-label">
      <input id="name" type="text" pInputText formControlName="name">
      <label for="name">Name</label>
    </span>

      <!-- Description -->
      <span class="p-float-label">
      <input id="description" pInputText formControlName="description">
      <label for="description">Description</label>
    </span>

      <!-- Image -->
      <span class="p-float-label">
      <input id="image" type="text" pInputText formControlName="image">
      <label for="image">Image</label>
    </span>

      <!-- Price -->
      <span class="p-float-label">
      <input id="price" type="number" pInputText formControlName="price">
      <label for="price">Price</label>
    </span>

      <!-- Category -->
      <span class="p-float-label">
      <input id="category" type="text" pInputText formControlName="category">
      <label for="category">Category</label>
    </span>

      <!-- Quantity -->
      <span class="p-float-label">
      <input id="quantity" type="number" pInputText formControlName="quantity">
      <label for="quantity">Quantity</label>
    </span>

      <!-- Inventory Status -->
      <span class="p-float-label">
      <input id="inventoryStatus" type="text" pInputText formControlName="inventoryStatus">
      <label for="inventoryStatus">Inventory Status</label>
    </span>

      <!-- Rating -->
      <span class="p-float-label">
      <input id="rating" type="number" pInputText formControlName="rating">
      <label for="rating">Rating</label>
    </span>

      <!-- Submit Button -->
      <button type="submit" pButton label="Submit"></button>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<p-table [value]="products"
          [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]"
          [responsive]="true" [scrollable]="true"
           [loadingIcon]="'pi pi-spinner'"
         styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th>
        Code
        <p-sortIcon field="code"></p-sortIcon>
      </th>
      <th>
        Name
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th>
        Action
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.code }}</td>
      <td>{{ product.name }}</td>
      <td>
        <i (click)="openModalUpdateProduct(product)" class="pi pi-pencil"></i>
        <i (click)="deleteProduct(product)" class="pi pi-trash"></i>
      </td>
    </tr>
  </ng-template>
</p-table>
